<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Início</a>
      <a mat-list-item routerLink="/treinos">Treinos</a>
      <a mat-list-item routerLink="/produtos">Produtos</a>
      <a mat-list-item routerLink="/membros">Membros</a>
      <a mat-list-item routerLink="/login">Login</a>
      <app-botao-voltar></app-botao-voltar>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
