<mat-card class="card">
  <mat-card-header>
    <mat-card-title class="titulo">IMPERIAL</mat-card-title>
  </mat-card-header>
  <mat-card-content class="texto">
    <div class="cabecalho">
      <img src="../../../../assets/image/imperial.jfif" height="300px">
    </div>
    <p>A Atlética Imperial é a associação atlética dos cursos de Ciência da Computação e Sistemas da Informação da
      Universidade Federal de Lavras (UFLA). Fundada em 2003, a Imperial tem como objetivo promover a integração entre
      os estudantes dos cursos, além de incentivar a prática esportiva e a representação da UFLA em competições
      universitárias.</p>

    <p>Com sede no campus da UFLA, a Imperial organiza diversos eventos esportivos, culturais e sociais ao longo do ano,
    tais como jogos internos, festas, churrascos e viagens. A associação é reconhecida pela sua organização e animação
    nos jogos universitários, como a Intercomp (intercurso de computação) e a InterUFLA (intercurso da UFLA), nas quais
    a Imperial costuma se destacar.</p>

    <p>Além disso, a Atlética Imperial também busca incentivar a responsabilidade social e a cidadania, realizando ações
    solidárias e projetos sociais junto à comunidade lavrense. Entre as iniciativas realizadas pela associação estão a
    doação de sangue, a arrecadação de alimentos para instituições de caridade e a participação em projetos de inclusão
    digital.</p>

    <p>Com uma história de sucesso e tradição na UFLA, a Atlética Imperial é uma importante representante dos cursos de
    Ciência da Computação e Sistemas da Informação, promovendo não apenas a prática esportiva, mas também a integração
    entre os estudantes e a formação de valores importantes para o exercício da cidadania.</p>
  </mat-card-content>
</mat-card>
