<mat-grid-list cols="1" rowHeight="10:1">
  <mat-grid-tile>
    <mat-card class="mat-card-full" (click)="redireciona('membros')">
      <mat-card-content class="texto-centro">Membros</mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="mat-card-full" (click)="redireciona('produtos')">
      <mat-card-content class="texto-centro">Produtos</mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="mat-card-full" (click)="redireciona('treinos')">
      <mat-card-content class="texto-centro">Treinos</mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
